gdown
numpy
datasets
lotus-ai>=1.1
langchain-anthropic==0.3
langchain-openai>=0.3
langchain-huggingface>=0.3
langchain-core==0.3.79
langchain
langgraph==0.4.8
langgraph-checkpoint==2.1.0
langgraph-prebuilt==0.2.2
transformers
sentence-transformers
openai
anthropic
streamlit>=1.49
inflect
pandas
json-repair>=0.40
trueskill
rank-bm25
requests
gunicorn
hnswlib
flask